#player-frame {
    border: 2px solid var(--theme-color);
    padding: 5px; /* Minimal padding so controls are easy to hit */
    background: #000;
    position: relative;
    overflow: hidden; /* Keeps the iframe tidy */
    animation: float 5s ease-in-out infinite, pulse 2s infinite;
    /* Ensure the iframe fills the frame */
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border: none;
}
